<div ng-controller="MyCtrl1">
	<p>This is the partial for view 1.</p>

	<input type="number" placeholder="Enter a number" ng-model="number"/>
	<button ng-click="doSquare()">X<sup>2</sup></button>
	<button ng-click="doCube()">X<sup>3</sup></button>

	<p>{{something}} {{answer}}</p>
</div>