div(ng-controller="MyCtrl1")
    p This is the partial for view 1.

input(type="number", placeholder="Enter a number", ng-model="number")
button( ng-click="doSquare()")X2
button( ng-click="doCube()")X3

p {{something}} {{answer}}