<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

<header>
	<% include ../partials/header %>
</header>

<main>
	<div class="row">
		<div class="col-xs-12">
			<h1>Welcome</h1>
			<p>Dynamic page using EJS templating</p>
		</div>
	</div>
</main>

<footer>
	<% include ../partials/footer %>
</footer>

</body>
</html>